server {
    listen 80;
    listen [::]:80;
    server_name {{.ServerNames}};
    root {{.Path}}/{{.PublicDir}};
    index index.php index.html;
{{if .Proxy}}
    location {{.ProxyPath}} {
        set $proxybackend "lerd-php{{.PHPVersionShort}}-fpm";
        proxy_pass http://$proxybackend:{{.ProxyPort}};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout {{.RequestTimeout}}s;
        proxy_send_timeout {{.RequestTimeout}}s;
    }
{{end}}
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        set $fpm "lerd-php{{.PHPVersionShort}}-fpm";
        fastcgi_pass $fpm:9000;
        fastcgi_index index.php;
        fastcgi_read_timeout {{.RequestTimeout}}s;
        fastcgi_send_timeout {{.RequestTimeout}}s;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        include fastcgi_params;
        fastcgi_param HTTP_HOST $real_forwarded_host;
        fastcgi_param SERVER_NAME $real_forwarded_host;
        fastcgi_param HTTP_X_FORWARDED_HOST $real_forwarded_host;
        fastcgi_param HTTP_X_FORWARDED_PROTO $real_forwarded_proto;
        fastcgi_param HTTP_X_FORWARDED_PORT $real_forwarded_port;
        fastcgi_param HTTP_X_REAL_IP $remote_addr;
        fastcgi_param HTTP_X_FORWARDED_FOR $remote_addr;
        fastcgi_param HTTP_COOKIE "$http_cookie; SPX_KEY=$spx_key{{if .Profiling}}; SPX_ENABLED=1{{end}}";
{{if .LerdSite}}        fastcgi_param LERD_SITE {{.LerdSite}};
{{end}}{{if .LerdBranch}}        fastcgi_param LERD_BRANCH {{.LerdBranch}};
{{end}}    }

    location ~ /\.ht {
        deny all;
    }

    include /etc/nginx/custom.d/{{.Domain}}.conf*;
}
